body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #aba9a9;
}

.order-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.order-box-header {
    font-weight: bold ;
    font-size: 1.2em;
}

.order-actions {
    margin-top: 10px;
}

.remove-btn, .complete-btn, .in-process-btn {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
}

.remove-btn {
    background-color: rgb(181, 23, 23);
    color: white;
}
.in-process-btn {
    background-color: rgb(227, 220, 17);
    color: white;
}
.complete-btn {
    background-color: rgb(16, 94, 20);
    color: white;
}


button:hover {
    opacity: 0.8;
}
